@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #eee; */
  --background: #838383;
  --color: #111827;
}

body {
  color: var(--color);
  background: var(--background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111827;
    --color: #eee;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 10px;
  }
}
