@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #838383;
  --color: #111827;
}

body {
  color: var(--color);
  background: var(--background);

  /* overflow: hidden; */
}

div,
main,
nav {
  box-sizing: border-box;
}

a {
  user-select: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111827;
    --color: #eee;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .shadow-dark {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .no-touch {
    touch-action: none;
    -ms-touch-action: none;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-thin::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 10px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
